.right-side-border{
    -fx-border-color: #6F6F6F;
    -fx-border-width: 0 1 0 0;
}
.white-background{
    -fx-background-color: '#fff';
}
.search-container{
    -fx-border-color: #6F6F6F;
    -fx-border-radius: 30 ;
}
.transparent{
    -fx-background-color: rgba(0,0,0,0);
}
.transparent:hover{
    -fx-background-color: #F3F3F3;
}
.primary-color{
    -fx-background-color: #EFF2F6;
}
.card{
    -fx-background-color: #fff;
    -fx-background-radius: 10;
}
.card2{
    -fx-background-color: #EC505C;
    -fx-background-radius: 10;
}