.mainFXMLClass{
    -fx-background-color: #333333;
}
.pane{
    -fx-border-color: #000;
    -fx-border-radius: 20px;
}
.textinput{
    -fx-background-color: #666666;
}
.transparent{
    -fx-background-color: rgba(0,0,0,0);
}
.transparent:hover{
    -fx-background-color: #F3F3F3;
}
